# Environments
venv/
.env
env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Large Datasets (Kaggle/Research Data)
*.csv
*.npy
*.npz

# Model Weights (Large Binaries)
*.pth
*.pt
*.bin
*.h5

# OS specific
.DS_Store
Thumbs.db
